/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico do body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Estilo do contêiner principal */
.container {
    padding: 40px;
    text-align: center;
}

/* Estilo do título */
h1 {
    font-size: 28px;
    color: #34495e;
    margin-bottom: 20px;
}

/* Estilo da lista de dentistas */
.dentist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo do card do dentista */
.dentist-card {
    width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.dentist-card.selected {
    border-color: #27ae60; /* Borda verde para o dentista selecionado */
}

.dentist-card:hover {
    transform: translateY(-5px);
}

/* Estilo da foto do dentista */
.dentist-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Estilo das informações do dentista */
.dentist-info {
    padding: 15px;
}

.dentist-info h2 {
    font-size: 20px;
    color: #34495e;
    margin-bottom: 10px;
}

.dentist-info p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

/* Estilo do botão de selecionar */
.choose-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choose-button:hover {
    background-color: #2980b9;
}

/* Estilo do contêiner de confirmação */
.confirmation {
    display: none;
    margin-top: 20px;
    font-size: 18px;
    color: #27ae60;
}

/* Estilo do botão de confirmação */
#confirm-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#confirm-button:hover {
    background-color: #1e8449;
}
